body {
    background: #222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;

}
.calculator {
    background: #FFB6C1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(231, 66, 119, 0.5);
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}   

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: #e98cb9;
    cursor: pointer;
    transition: background 0.3s ease;
}

.zero {
    grid-column: span 2;
}